.login-body {
    background: linear-gradient(to right, white, var(--azul-claro));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 5vh;
    width: 130vh;
    height: 80vh;
    overflow: hidden;
    filter: drop-shadow(0 0 8px rgb(53, 53, 53));
}

#login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 5vh;
    }

    gap: 3vh;
}

#login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-logo {
    border-radius: 5vh;
    background-color: var(--azul-claro);
}

#login-inputs {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
}

#input-1 {
    width: 35vh;
    padding: 2vh;    
    border-radius: 1.5vh;
    border: none;
    filter: drop-shadow(0 0 0.3vh rgb(53, 53, 53));
    outline: none;
}

#login-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    color: var(--azul-claro);

    p {
        font-size: 2vh;
        cursor: pointer;
    }
}

#buttom-1 {
    cursor: pointer;
    background-color: var(--azul-claro);
    filter: drop-shadow(0 0 0.3vh rgb(53, 53, 53));
    color: white;
    border: none;
    width: 35vh;
    border-radius: 1.5vh;
    padding: 1.5vh;
}

#login-logo {
    display: flex;
    justify-content: center;
    img {
        width: 45vh;
    }
}