.barContent {
    display: flex;
    justify-content: space-between;
    padding: 1.5vh;
    background: linear-gradient(to right, var(--azul-claro), var(--azul-escuro));
}

#perfil {
    display: flex;
    gap: 4vh;
    color: white;
    align-items: center;
}