.aluno_card {
     cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;

    padding: 2vh;
    width: 30vh;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    color: var(--cinza-escuro);
    box-shadow: var(--shadow);


    font-size: 2.5vh;

    border-radius: 4vh;
    flex-direction: column;
    img {
        width: 15vh;
        border-radius: 50%;
        margin-bottom: 3vh;
    }
}

#matricula {
    color: var(--azul-escuro);
}

.ativo {
    border: 0.3vh solid var(--azul-claro);
}


