.tabela {
    width: 100%;
    max-width: 150vh;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: medium;
    font-weight: lighter;
}

.tabela th {
    background-color: #3AA6DB;
    color: white;
    padding: 12px;
}

.tabela thead tr th:first-child {
    border-top-left-radius: 12px;
}

.tabela thead tr th:last-child {
    border-top-right-radius: 12px;
}

.tabela td {
    padding: 10px;
    text-align: center;
    border: 0.5px solid #c2bfbf;
}

.tabela tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.tabela tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.tabela tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela tbody tr:hover {
    background-color: #e6f2ff;
}

.aprovado {
    color: #2ecc71;
    font-weight: bold;
}

.reprovado {
    color: #e74c3c;
    font-weight: bold;
}

.titulo {
    text-align: center;
    margin: 20px 0;
    font-weight: lighter;
}

.pdf {
    background-color: #3AA6DB;
    color: white;
    padding: 12px 20px;
    border: 0.5px solid #c2bfbf;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.botoes {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
