.barContent {
    width: 35vh; 
    height: 100vh;
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8vh;

    padding: 1.5vh 4vh 1.5vh 3vh;
    background-color: var(--azul-escuro);

    border-radius: 0vh 4vh 0vh 0vh;
    
}

#imagem {
    width: 25vh;
}

#navegadores {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.opcao {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2vh;
    padding: 1vh;

    color: white;

    font-weight: 300;
    font-size: 3vh;

    img {
        width: 3vh;
    }
}

.ativo {
    border-radius: 1vh;
    background-color: #8BB8DD;
}
