.content {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    padding: 2vh;
    width: 30vh;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--shadow);

    color: var(--cinza-escuro);

    font-size: 2.5vh;

    border-radius: 4vh;
    flex-direction: column;
    gap: 2vh ;
    img {
        width: 15vh;
        border-radius: 50%;
        margin-bottom: 3vh;
        min-height: 15vh;
    }

    button {
        font-size: 2vh;
    }
}

#matricula {
    color: var(--azul-escuro);
}

#status {
    background-color: white;
    border-radius: 3vh;
    padding: 1.5vh;
    width: 23vh;
    color: var(--azul-escuro);
    border: 0.3vh solid var(--azul-escuro);
}