.sidebar {
    width: 280px;
    height: 100vh;
    background: #2F83C7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    color: white;
}

.topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 60px;
}

.topo h2 {
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.item {
    background: transparent;
    border: none;;
    color: white;
    font-weight: 300;
    text-align: left;
    font-size: 1.15rem;
    padding: 0.8rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 1.3rem;
    margin-right: 20px;
}

.item:hover {
    background: rgba(255, 255, 255, 0.15);
}

.ativo {
    background: rgba(255, 255, 255, 0.25);
}

/* PERFIL */
.perfil {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.perfil img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}