:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --azul-claro: #2FBCE7;
  --azul-escuro: #4692D1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}